.Profile-container {
  display: flex;
  height: 100%;
}

.profile-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 3vh;
  margin-left: 3%;
  width: 1000px;
  height: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  margin-top: 10%;
  flex-grow: 1;
}


.profile-stats {
  /* display: flex; */
  justify-content:center;
  margin-top: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 20%;
}

.stat-item {
  text-align: center;
}


.events {
  margin-top: 15px;
  margin-left: 30px;
}

.event {
  margin-top: 15px;
  margin-left: 30px;
}


.rent-history h4 {

  margin-bottom: 5px;
}

.ProfileIcon1 {
  color: white;
  background-color: #949cb7;
  width: 200px;
  height: 250px;
  padding: 40px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 30px;
}
h2 {
  margin-left: 50px;
  margin-top: -100px;
  margin-bottom: 5px;
}
.name {
  margin-left: 50px;
}
.credits {
  color: grey;
  font-size: small;
  margin-top: 50px;
  margin-right: 50px;
}

.divider {
  background-color: #e0e0e0;
  width: 700px;
  height: 5px;
  margin-left: 190px;
  margin-bottom: -25px;
}

.rentinfo {
  margin-top: 20px;
  font-family: monospace;
}

.change a {
  color: blue;
  margin-top: 10px;
  margin-left: 50px;
  width: fit-content;
}

.reset {
  display: grid;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.btn- {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 45px;
  background-color: #1d90f5;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 20px;
  margin: 15px 0px;
}

.cancelBtn{
  width: 50px;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.cancel-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.cancel-link:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

@media (max-width: 430px) { /* Mobile, decently sized phones */
  .profile-card {
    margin-top: 100px;
    width: 370px;
    height: 700px;
  }
  .ProfileIcon1 {
    width: 100px;
    height: 150px;
    padding: 40px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 30px;
  }
}

@media (max-width: 390px) { /* Mobile, horrendously sized phones */


}
